@model UniversityManager.Models.Student


@section Styles {
    <link href="@Url.Content("~/Content/student/details.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <div class="actions">
        <p><a href="@Url.Action("Index")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a></p>
        <p><a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit </a></p>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            Course
        </dt>

        <dd>
            @ViewBag.CourseName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Subject Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>