@model IEnumerable<UniversityManager.Models.Course>
@using UniversityManager.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Students
        </th>
        <th>
            Teachers
        </th>
        <th>
            Average grade
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.Students.Count()
        </td>
        <td>
            @item.Subjects.Select((s) => s.Teacher).Distinct().Count()
        </td>
        <td>
            @((item.Subjects.Average((s) => s.Enrollments.Average((e) => e.Grade)) ?? 0).ToString("0.##"))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
